:root {
    --color-white: #ffffff;
    --color-black: #000;
    --color-light: rgb(228, 230, 235);
    --color-dark: #1c1e21;
    --color-circle: #e1394d;
    --color-cross: #289acb;
    --color-box-dark: #333;
    --color-box-light: rgb(214, 214, 214);
    --foreground: var(--color-light);
    --background: var(--color-dark);
    --box-dark: var(--color-box-dark);
    --box-light: var(--color-box-light);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--foreground);
    background-color: var(--background);
}
.red {
    color: var(--color-circle) !important;
}
.blue {
    color: var(--color-cross) !important;
}
